.p-home {
  width: 100dvw;
  height: 100dvh;
  background-image: url("./use-svg-as-background-image-particle-strokes.svg");
  background-size: cover;
  .big-banner {
    // background: red;
    height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 150px;
    font-family: monospace;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
